@{
    ViewBag.Title = "Customer Master Data";
}
<div class="row row-sub-page">
    <div class="container-fluid container-sub-page">
        <div class="row row-sub-page-header">
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-page-name">
                <h6>Customer Master Data</h6>
            </div>
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-page-path">
                <h6>SAP / Customer Master Data</h6>
            </div>
        </div>
        <div class="row row-sub-page-body">
            <div class="col col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 filter-container">
                <div class="form-control combobox-container">
                    <label for="combobox">Search by: *</label>
                    <select id="combobox" class="combobox txt-search-by">
                        <option value="" disabled>---select one---</option>
                        <option value="All" selected>All</option>
                        <option value="CardCode">Code</option>
                        <option value="CardName">Name</option>
                        <option value="CardFName">Foreign Name</option>
                        <option value="Phone">Phone</option>
                    </select>
                </div>
                <div class="form-control input-container">
                    <label for="textbox">Search: *</label>
                    <input type="text" id="textbox" class="styled-input width-100 txt-search" placeholder="Typing here..." />
                </div>
                <div class="form-control combobox-container">
                    <label for="combobox">Show Per Page: *</label>
                    <select id="combobox" class="combobox txt-limit">
                        <option value="10">10</option>
                        <option value="20" selected>20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>

            <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sub-page-body">
                <div class="table-container">
                    <table class="styled-table table-bordered table table-bp">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th width="10%">Customer Code</th>
                                <th>Customer Name</th>
                                <th>Foreign Name</th>
                                <th>Group</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>GPS LateLong</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col  col-md-12">
                <div class="pagination">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetBPMasterDataList(1);
        $(".txt-limit").on("change",function () {
            GetBPMasterDataList(1);
        });
        $(".txt-search").on("input",function () {
            GetBPMasterDataList(1);
        });
        $(".txt-search-by").on("change",function () {
            GetBPMasterDataList(1);
        });
    });
</script>

