@{
    ViewBag.Title = "Sale Order List";
    string startdate = "01-01-" + DateTime.Now.Date.Year.ToString();
    var salesList = ViewBag.saleslist as List<DMSWebPortal.Models.tblSalesEmployee>;
}
<div class="row row-sub-page">
    <div class="container-fluid container-sub-page">
        <div class="row row-sub-page-header">
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-page-name">
                <h6>Sale Order List</h6>
            </div>
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-page-path">
                <h6>Sale Order / Sale Order List</h6>
            </div>
        </div>
        <div class="row row-sub-page-body">
            <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 filter-container">
                <div class="form-control combobox-container">
                    <label for="combobox">Status: *</label>
                    <select id="combobox" class="combobox txt-status">
                        <option value="" disabled>---select one---</option>
                        <option value="All" selected>All</option>
                        <option value="Draft">Draft</option>
                        <option value="Approved">Approved</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>
                <div class="form-control combobox-container">
                    <label for="combobox">Search by: *</label>
                    <select id="combobox" class="combobox txt-search-by">
                        <option value="" disabled>---select one---</option>
                        <option value="All" selected>All</option>
                        <option value="DocNum">Document Number</option>
                        <option value="CardCode">Customer Code</option>
                        <option value="CardName">Customer Name</option>
                        <option value="Remark">Remark</option>
                        <option value="Salesman">Sales Name</option>
                    </select>
                </div>
                <div class="form-control input-container">
                    <label for="txtfromdate" class="">Form Date: </label>
                    <input type="text" id="txtfromdate" class="styled-input datetime txt-from-date" placeholder="dd-mm-yyyy" value="@startdate" readonly />
                </div>
                <div class="form-control input-container">
                    <label for="txttodate" class="">To Date: </label>
                    <input type="text" id="txttodate" class="styled-input datetime txt-to-date" placeholder="dd-mm-yyyy" value="@(DateTime.Now.ToString("dd-MM-yyyy"))" readonly />
                </div>
                <div class="form-control input-container" id="dv_general">
                    <label for="textbox">Search: *</label>
                    <input type="text" id="textbox" class="styled-input width-100 txt-search" placeholder="Typing here..." />
                </div>
                <div class="form-control input-container" id="dv_salesman" style="display:none">
                    <label for="textbox">Select Salesman: </label>
                    <select id="combobox_salesman" class="combobox">
                        <option value="All">All</option>
                        @foreach(var x in salesList){
                            <option value="@x.U_SalesCode">@x.SalesName</option>
                        }
                    </select>
                </div>
                <div class="form-control combobox-container">
                    <label for="combobox">Show Per Page: *</label>
                    <select id="combobox" class="combobox txt-limit">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100" selected>100</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>

            <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sub-page-body">
                <div class="table-container">
                    <table class="styled-table table-bordered table table-item">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Document No</th>
                                <th>Doc Date</th>
                                <th>Delivery Date</th>
                                <th>Company Name</th>
                                <th>Remark</th>
                                <th>Sales Name</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>SAP No</th>
                                <th>Error</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- Pagination -->
            <div class="col-12 mt-3">
                <div class="pagination">
                    <!-- dynamic pagination -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        SearchSOList(1);
        $(".txt-limit").change(function () {
            SearchSOList(1);
        });
        $(".txt-search").keyup(function () {
            SearchSOList(1);
        });
        $(".txt-search").keydown(function () {
            SearchSOList(1);
        });
        $(".txt-from-date").change(function () {
            SearchSOList(1);
        });
        $(".txt-to-date").change(function () {
            SearchSOList(1);
        });
        $(".txt-status").change(function () {
            SearchSOList(1);
        });
        $(".txt-search-by").change(function () {
            if($(".txt-search-by").val()=="Salesman"){
                $("#dv_general").hide();
                $("#dv_salesman").show();
            }
            else{
                $("#dv_general").show();
                $("#dv_salesman").hide();
            }
            SearchSOList(1);
        });
        $("#combobox_salesman").change(function () {
            SearchSOList(1);
        });
    });
</script>

