@{
    ViewBag.Title = "Promotion List";
}
<div class="row row-sub-page">
    <div class="container-fluid container-sub-page">
        <div class="row row-sub-page-header">
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-page-name">
                <h6>Promotion List</h6>
            </div>
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-page-path">
                <h6>Promotion / Promotion List</h6>
            </div>
        </div>
        <div class="row row-sub-page-body">
            <div class="col col-xxl-10 col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12 filter-container">
                <div class="form-control combobox-container">
                    <label for="combobox">Status: *</label>
                    <select id="combobox" class="combobox txt-status">
                        <option value="" disabled>---select one---</option>
                        <option value="All" selected>All</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
                <div class="form-control combobox-container">
                    <label for="combobox">Search by: *</label>
                    <select id="combobox" class="combobox txt-search-by">
                        <option value="" disabled>---select one---</option>
                        <option value="All" selected>All</option>
                        <option value="DocNum">Doc No</option>
                        <option value="Description">Description</option>
                        <option value="PromoType">Type</option>
                    </select>
                </div>
                <div class="form-control input-container">
                    <label for="txtfromdate" class="">Form Date: </label>
                    <input type="text" id="txtfromdate" class="styled-input datetime txt-from-date" placeholder="dd-mm-yyyy" value="01-01-1999" readonly />
                </div>
                <div class="form-control input-container">
                    <label for="txttodate" class="">To Date: </label>
                    <input type="text" id="txttodate" class="styled-input datetime txt-to-date" placeholder="dd-mm-yyyy" value="@(DateTime.Now.ToString("dd-MM-yyyy"))" readonly />
                </div>
                <div class="form-control input-container">
                    <label for="textbox">Search: *</label>
                    <input type="text" id="textbox" class="styled-input width-100 txt-search" placeholder="Typing here..." />
                </div>
                <div class="form-control combobox-container">
                    <label for="combobox">Show Per Page: *</label>
                    <select id="combobox" class="combobox txt-limit">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>

            <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sub-page-body">
                <div class="table-container">
                    <table class="styled-table table-bordered table table-sale-employee">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Doc No</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- Pagination -->
            <div class="col-12 mt-3">
                <div class="pagination">
                    <!-- dynamic pagination -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetPromotionList(1);
        $(".txt-limit").change(function () {
            limit = $(this).val();
            GetPromotionList(1);
        });
        $(".txt-search").keyup(function () {
            GetPromotionList(1);
        });
        $(".txt-search").keydown(function () {
            GetPromotionList(1);
        });
        $(".txt-from-date").change(function () {
            GetPromotionList(1);
        });
        $(".txt-to-date").change(function () {
            GetPromotionList(1);
        });
        $(".txt-status").change(function () {
            GetPromotionList(1);
        });
        $(".txt-search-by").change(function () {
            GetPromotionList(1);
        });
    });
</script>


